/* ========== COMMON STYLES ========== */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

body {
    color: #434455;
    font-family: "Roboto", sans-serif;
    background: #ffffff;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    bottom: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

/* ========== HEADER STYLES ========== */
.block-header {
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.block-header {
    border-bottom: 1px solid #e7e9fc;
}

.page-header-container {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
}

.block-nav {
    display: flex;
    column-gap: 76px;
}

.menu {
    display: none;
    padding-top: 24px;
    padding-bottom: 24px;
}

.address-menu {
    display: none;
}

.page-address {
    font-style: normal;
}

.color-studio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}
.bloc-logo {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        margin-right: 76px;
        padding: 16px 0;
}

.open-menu-btn {
    padding: 0;
    line-height: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

/* ========== HERO STYLES ========== */
.page-section {
    padding-top: 72px;
    padding-bottom: 72px;
    margin-bottom: 96px;
    max-width: 320px;
    height: 432px;
    margin-right: auto;
    margin-left: auto;
    background-color: #2e2f42;
    background-image:
        linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/adaptive/mobile-hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.page-first {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #ffffff;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 72px;
        max-width: 216px;
}

.page-but {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        background: #4d5ae5;
        padding-top: 16px;
        padding-right: 32px;
        padding-bottom: 16px;
        padding-left: 32px;
        border-radius: 4px;
        border: none;
        min-width: 169px;
        height: 56px;
        display: block;
        margin-right: auto;
        margin-left: auto; 
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 
.page-but:hover,
.page-but:focus {
    background: #404bbf;
}

/* ========== BENEFITS STYLES ========== */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-benefits {
    padding-top: 96px;
    padding-bottom: 96px;
    /* padding-bottom: 120px;
    padding-top: 120px; */
}

.menu-benefits {
    /* gap: 24px; */
    /* display: flex;
    column-gap: 24px; */
}

.menu-benefits-item:not(:last-child) {
    margin-bottom: 72px;
}

.menu-benefits-item {
    /* width: calc((100% - 72px) / 4); */
}

.container-icon {
    /* display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        background: #f4f4fd;
        margin-bottom: 8px; */
}

.benefits-icon {
    display: none;
}

.page-third {
        /* font-weight: 500;
        font-size: 20px;
        line-height: 1.2; */
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 8px;
}

.para-benefits {
        /* font-weight: 400; */
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/*  ========== OUR-TEAM STYLES ========== */
.page-team {
    margin-bottom: 120px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 120px;
    padding-bottom: 120px;
}

.card-cont {
    padding-top: 32px;
    padding-bottom: 32px;
}

.menu-team {
    display: flex;
    justify-content: space-around;
    padding-bottom: 120px;
    gap: 24px;
}

.team-second {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        align-items: center;
        padding-top: 120px;
        margin-bottom: 72px;
}

.menu-team-item {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;
}

.menu-team-third {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 8px;
}

.menu-team-para {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}

.menu-team-icon {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 32px;
}

.item-team-icon {
    width: 40px;
    height: 40px;
}

.link-team-icon {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-team-icon:hover,
.link-team-icon:focus {
    background-color: #404bbf;
}

.team-icon {
    fill: #f4f4fd;
}

.page-team {
    background: #f4f4fd;
}

/* ========== OUR PORTFOLIO STYLES========== */
.menu-portf-item-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portf-section {
    margin-right: auto;
    margin-left: auto;
    padding-top: 120px;
    padding-bottom: 120px;
}

.menu-portf {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.menu-portf-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-portf-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.menu-portf-item:hover .para-overlay {
    transform: translateY(0%);
}

.container-team-overlay {
    position: relative;
    overflow: hidden;
}
.para-overlay {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portf-second {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        margin-bottom: 72px;
}

.menu-portf-third {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding-top: 32px;
        padding-left: 16px;
        margin-bottom: 8px;
}

.menu-portf-par {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        padding-bottom: 32px;
        padding-left: 16px;
}

/* ========== FOOTER STYLES ========== */
.page-footer {
    background: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.div-footer {
    display: flex;
    align-items: baseline;
}

.container-page-footer {
    margin-right: 120px;
}

.footer-color-studio {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #f4f4fd;
}
.link-footer {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        padding-bottom: 16px;
        display: inline-block;
}

.para-footer {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        padding-top: 16px;
        max-width: 264px;
}

.container-footer-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 120px;
}

.para-footer-icon {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #ffffff;
        margin-bottom: 16px;
}

.menu-footer-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.item-footer-icon {
    width: 40px;
    height: 40px;
}

.link-footer-icon {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-footer-icon:hover,
.link-footer-icon:focus {
    background-color: #31d0aa;
}

.footer-icon {
    fill: #f4f4fd;
}

.para-form {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

.input-form {
    display: flex;
    gap: 24px;
}

.review-input-footer {
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: transparent;
}

.review-input-footer::placeholder {
        font-weight: 400;
        font-size: 12px;
        line-height: 200%;
        letter-spacing: 0.04em;
        color: #ffffff;
        padding: 8px 16px;
}

.input-footer-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 165px;
    height: 40px;
    border-radius: 4px;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 24px;
    margin-left: 24px;
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
}

.input-footer-icon {
    margin-left: 16px;
}

/* ========== BACKDROP STYLES ========== */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0;
    border: none;
    background-color: transparent;
    line-height: 0;
    fill: #2e2f42;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close-btn:hover,
.icon-close-btn:focus {
    fill: #ffffff;
    background-color: #404bbf;
    border: none;
}

.icon-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.para-backdrop {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-top: 72px;
        margin-bottom: 16px;
}

.container-input {
    margin-bottom: 8px;
}

.input-wrapper {
    display: block;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
        margin-bottom: 4px;
        background-color: transparent;
}

.form-icon-wrapper {
    position: relative;
}

.review-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding-left: 38px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-input:focus {
    border: 1px solid #4d5ae5;
    outline: transparent;
}

.form-icon {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-input:focus + .form-icon {
    fill: #4d5ae5;
}

/* .form-icon-massage {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .review-input:focus + .form-icon-massage {
    fill: #4d5ae5;
} */

.container-massage {
    margin-bottom: 16px;
}

.review-massage {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    background-color: transparent;
    color: rgba(46, 47, 66, 0.4);
    resize: none;
    padding: 8px 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-massage:focus {
    border-color: #4d5ae5;
}

.review-massage::placeholder {
        font-weight: 400;
        font-size: 12px;
        line-height: 117%;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
}

.checkbox-input {
    margin-bottom: 24px;
}

.checkbox-wrapper {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
}

.form-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-box:checked + .checkbox-wrapper .form-checkbox{
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.check-box:focus +.checkbox-wrapper .form-checkbox {
    outline: 2px solid rgba(0, 0, 255, 0.5);
}

.link-checkbox {
    text-decoration: underline;
    color: #4d5ae5;
}

.input-btn {
    display: block;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ================== ADAPTIVE 768px ====================== */

@media screen and (min-width: 768px) {
/* ========== HEADER STYLES ========== */
    .container {
        max-width: 768px;
    }

    .open-menu-btn {
        display: none;
    }

    .block-nav {
        align-items: center;
        gap: 40px;
    }

    .menu {
        display: flex;
        gap: 40px;
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .menu-item {
        color: #404bbf;
    }

    .menu-item:first-child .menu-link {
        color: #404bbf;
    }

    .hover {
        position: relative;
    }

    .hover::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        background: #404bbf;
        border-radius: 2px;
        width: 48px;
        height: 4px;
    }

    .menu-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding-top: 24px;
        padding-bottom: 24px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .menu-link:hover,
    .menu-link:focus {
        color: #404bbf;
    }

    .address-menu {
        display: block;
        gap: 40px;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .address-menu {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .address-link {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .address-link:hover,
    .address-link:focus {
        color: #404bbf;
    }

/* ========== HERO STYLES ========== */
    .page-section {
        padding-top: 112px;
        padding-bottom: 112px;
        max-width: 768px;
        height: 436px;
        background-image:
            linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
            url(../images/adaptive/tablet-hero.jpg);
    }

    .page-first {
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 36px;
        max-width: 496px;
    }

/* ========== BENEFITS STYLES ========== */
    .page-third {
        text-align: justify;
    }

    .menu-benefits {
        gap: 72px 24px;
    }

    .menu-benefits {
        display: flex;
        flex-wrap: wrap;
    }


    .menu-benefits-item {
        padding-right: 0;
        width: calc((100% - 24px) / 2);
    }
}


/* ================ ADAPTIVE 1158px ============== */

@media screen and (min-width: 1158px) {
/* ========== HEADER STYLES ========== */
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }

    .address-menu {
        flex-direction: row;
        gap: 40px;
    }

/* ========== HERO STYLES ========== */
    .page-section {
        padding-top: 188px;
        padding-bottom: 188px;
        margin-bottom: 120px;
        max-width: 1140px;
        height: 600px;
        background-image:
            linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
            url(../images/adaptive/laptop-hero.jpg);
    }

/* ========== BENEFITS STYLES ========== */
    .section-benefits {
        padding-bottom: 120px;
        padding-top: 120px;
    }

    .menu-benefits {
        gap: 24px;
        display: flex;
        column-gap: 24px;
    }

    .menu-benefits-item {
        width: calc((100% - 72px) / 4);
    }

    .container-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        background: #f4f4fd;
        margin-bottom: 8px;
    }

    .benefits-icon {
        display: block;
    }

    .page-third {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .para-benefits {
        font-weight: 400;
    }
}

